<!doctype html>
<html>
  <head>
    <title>About page</title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
  </head>
  <body>
    <h1>About page</h1>
    <p>This is a website where users can review movies, TV episodes and Video Games</p>
    <br><br>
    <a href="/">Back to Home</a>
  </body>
</html>