<!doctype html>
<html>
  <head>
    <title>Welcome to Movie-Rater</title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
  </head>
  <body>
    <h1>Hello there!</h1>
    <p><a href="about">About Movie-Rater</a></p>
    <p><a href="users/register">Register with us</a></p>
    <p><a href="users/login">Login</a></p>
    <p><a href="movies/search">Search</a></p>
    <p><a href="users/logout">Log Out</a></p>
  </body>
</html>