<!doctype html>
<html>
  <head>
    <title>Login to</title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
  </head>
  <body>
    <h1><%= appData.appName %>: Log in</h1>
    <form method="POST" action="loggedin">
        <p>Username: <input id="username" type="text" name="username" value="" /></p>
        <p>Password: <input id="password" type="text" name="password" value="" /></p>
        <input type="submit" value="Login" />
      </form>
  </body>
</html>