<!doctype html>
<head>
    <title>Search for user</title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
</head>
<body>
    <header>
        <h1>Search a user</h1>
    </header>
    <form action="userSearchResults" method="GET">
        <label for="name">Search for Reviews by User:</label>
        <input type="text" id="name" name="name" placeholder="Enter a user name">
        <button type="submit">Search</button>
    </form>
    <a href="/">Return to home</a>

   
</body>
</html>